<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='static/css/styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Generation</title>
</head>
<body>
    <h1>Text Generation</h1>
    <form method="post">
        <label for="seed_text">Seed Text:</label>
        <input type="text" id="seed_text" name="seed_text" required><br><br>
        <label for="num_words">Number of Words to Generate:</label>
        <input type="number" id="num_words" name="num_words" min="1" required><br><br>
        <button type="submit">Generate Text</button>
    </form>
</body>
</html>
